body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.main{
    background-color: rgb(211, 211, 211);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction:column;
    cursor: default; 
    align-items: center;
    width: 500px;
}
.inner{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
input{
    border-radius: 30px;
    height: 30px;
    padding: 5px;
}
#email{
    width: 60%;
}
#text{
    margin-top:20px;
    margin-bottom: 20px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border-radius: 30px;
    padding: 15px 5px;
}
#btnSend{
    width: 200px;
    height: 40px;

    border-radius: 30px;
    background-color: lightskyblue;
    display: flex;
    justify-content:center;
    align-items: center;
}