body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
input{
    margin: 5px;
    width: 170px;
    border-radius: 100px;
}
.inLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}
.loginDiv{
    background-color: rgb(211, 211, 211);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction:column;
    cursor: default; 
    align-items: center;
    width: 400px;
}
.horizontalBtns{
    display: flex;
    flex-direction:rows;
    justify-content: center;
    align-items: center;
}
br{
    width: 0px;
    height: 0px;
}

#messageDiv{
    margin-top: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 28px;
    background-color: azure;
    border-radius: 18px;
    margin-top: 7px;
    margin-right:5px;
}

.def_selector{
    position: fixed;
    -webkit-user-select: none;
    user-select:none;
    background-color: beige;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    
    align-items: flex-end;
}
.selector_left{
    top: 10px ;  
    flex-direction: column;
}
.selector_top{
    top: 10px ;
    left:200px;
}
.selector_right{
    right: 10px;
    top: 10px ;
    flex-direction: column;
    box-shadow: 0 0 100px cornsilk;
}
p{
    margin: 0px; 
    border-radius: 100px;  
    width: 200px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.btn_sel{
    width: 250px;
    background-color: cornsilk;
    
}
#sendPass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 100px;
    width: 200px;
    height: 40px;
}
