.def_block{
    position: absolute;
    background-color: aqua;
    padding: 5px;
    
    -webkit-user-select: none;
    user-select:none;
    z-index: 0;
}
.big_block{
    padding: 5px;

    min-width: 100px;
    max-width: 200px;
    min-height: 70px;
    border-radius: 20px;
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.onTop{
    z-index: 10;
}
.small_block{
    width: 25px;
    height: 25px;
    background-color: lightgray;
    border: solid 2px black;
    border-radius: 100px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;

    font-size: 17px;
}
#ex1-common-parent{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    
}
p{
    margin: 0px; 
    border-radius: 100px;  
    width: 90px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    padding: 0px 1px;
}
body{background-color: white;}
.arrow1step{background-color: rgb(231, 229, 229);}
.arrow2step{background-color: rgb(224, 224, 224);}
.def_selector{
    position: fixed;
    -webkit-user-select: none;
    user-select:none;
    background-color: beige;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    
    align-items: flex-end;
}
.selector_left{
    top: 10px ;  
    flex-direction: column;
}
.selector_top{
    top: 10px ;
    left:200px;
}
.selector_right{
    right: 10px;
    top: 10px ;
    flex-direction: column;
}

textarea{
    background-color: transparent;
    margin: 5px;
   
}

.btn{
    width: 150px;
    background-color: cornsilk;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#btnCreateArrow{
    height: 50px;
    background-color: rgb(240, 255, 220);
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 17px;
}
#btnCLearArrows{
    margin-top:20px;

    height: 30px;
    background-color: rgb(255, 230, 220);
}
#btnCLearAll{
height: 40px;
    background-color: rgb(255, 230, 220);
     margin-bottom: 5px;
}

.iraction{
    background-color: rgb(106 207 40);
}
.irevent{
    background-color: orange;
    clip-path: polygon(15px 0px, calc(100% - 15px) 0px, 100% 50%, calc(100% - 15px) 100%, 15px 100%, 0px 50%);
}
.iirevent{
    background-color: orange;
}
.irrole{
    background-color: yellow;
}
.irrisk{
    background-color: rgb(237 56 67); ;
}
.iriodata{
    background-color: #9d9a9a;
}
.iritsystem{
    background-color: lightblue;
}
.smallSelectorBtn{
    background-color: lightgray;
    width: 25px;
    height: 25px;
    padding:5px;
    border: solid 2px black;
}

#messageDiv{
    display: none;
}
embed{
    display: none;
}

.arrowPoint{
    width: 1px;
    height: 1px;
    border-radius: 10px;
    background-color: #2d6ca2;
    box-shadow:none;
}

#translate{
    display: none   ;
}