<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body > 
    <div id="ex1-common-parent"></div>
    <div class="def_selector selector_left">
        <p id="yourfiles" class="btn">Load model</p>
        <p id = "downloadFile" class="btn">Save model</p>
        <p id="btnCreateArrow" class="btn"> Create arrow</p>
        <p id="btnCLear1Arrow" class="btn"> Delete arrow</p>
        <p id="btnCLearArrows" class="btn"> Delete all arrows</p>
        <p id="btnCLearAll" class="btn"> Delete all</p>
        <div id="messageDiv"></div>
    </div>
          

    
    <div class="def_selector selector_top">
        <p id="iraction" class="iraction">activity</p>   
        <p id="irevent"  class="iirevent">event</p>  
        <p id="irrole"  class="irrole">role</p>  
        <p id="irrisk"  class="irrisk">risk</p>  
        <p id="iriodata"  class="iriodata">io data</p>  
        <p id="iritsystem"  class="iritsystem">it system</p>  
        <p id="irand" class="smallSelectorBtn"> and</p>  
        <p id="iror"  class="smallSelectorBtn">or</p> 
        <p id="irxor"  class="smallSelectorBtn">xor</p> 
    </div>



    <div class="def_selector selector_right">
        <p id="logout" class="btn">📤 Exit 📤</p>
        <p id="helper" class="btn">❔ Help ❔</p>
        <p id="instruction" class="btn">📑 Instruction 📑</p>
        <p id ="translate" class="btn">📔 Перевести 📔</p>
    </div>
    
    <embed
    type="application/pdf"
    src="screen.pdf"
    id="pdfDocument"
    width="100%"
    height="100%" />
    
</body>
<script src="{{ url_for('static', filename='arrows.1.0.0.js') }}" type='text/javascript'></script>
<script src="../static/arrows.1.0.0.js" type='text/javascript'></script>
<script src="../static/main.js">
</script>
<script>
    translate.addEventListener("click",function(){
        window.location.href = "/index";
    });
</script>
</html>