<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Холст</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body > 
    <div id="ex1-common-parent"></div>
    <div class="def_selector selector_left">
        <p id="yourfiles" class="btn">Загрузить модель</p>
        <p id = "downloadFile" class="btn">Сохранить модель</p>
        <p id="btnCreateArrow" class="btn"> Создать связь</p>
        <p id="btnCLear1Arrow" class="btn"> Удалить связь</p>
        <p id="btnCLearArrows" class="btn"> Удалить все связи</p>
        <p id="btnCLearAll" class="btn"> Удалить все</p>
        <div id="messageDiv"></div>
    </div>
          
    <div class="def_selector selector_top">
        <p id="iraction" class="iraction">Активность</p>   
        <p id="irevent"  class="iirevent">Событие</p>  
        <p id="irrole"  class="irrole">Роль</p>  
        <p id="irrisk"  class="irrisk">Риск</p>  
        <p id="iriodata"  class="iriodata">IO Данные</p>  
        <p id="iritsystem"  class="iritsystem">IT система</p>  
        <p id="irand" class="smallSelectorBtn"> and</p>  
        <p id="iror"  class="smallSelectorBtn">or</p> 
        <p id="irxor"  class="smallSelectorBtn">xor</p> 
    </div>
    

    <div class="def_selector selector_right">
        <p id="logout" class="btn">📤 Выйти 📤</p>
        <p id="helper" class="btn">❔ Поддержка ❔</p>
        <p id="instruction" class="btn">📑 Руководство 📑</p>
        <p id ="translate" class="btn">📔 Translate 📔</p>
    </div>
    
    <embed
    type="application/pdf"
    src="screen.pdf"
    id="pdfDocument"
    width="100%"
    height="100%" />
    
</body>
<script src="{{ url_for('static', filename='arrows.1.0.0.js') }}" type='text/javascript'></script>
<script src="../static/arrows.1.0.0.js" type='text/javascript'></script>

<script src="../static/main.js">
</script>
<script>
     translate.addEventListener("click",function(){
        window.location.href = "/index_EU";
    });

</script>

</html>